@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <div>
        @Html.ActionLink("Run All Tests libGcmAes.so (x64)", "RunAllTests")
    </div>

</div>
